<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary</title>
    <link rel="stylesheet" href="/css/diary.css">
</head>
<body>
<header>
    <div class="header-left">
        <a th:href="@{/diary}" th:text="${user.userNickname} + '님의 일기'" class="header-title">닉네임님의 일기</a>
    </div>
    <div class="header-right">
        <button id="logout-button">로그아웃</button>
    </div>
</header>

<main>
    <div class="firstLine">
        <form id="search-and-sort-form" action="/diary/list" method="get">
            <div id="searching">
                <select id="sort-order" name="order" onchange="this.form.submit()">
                    <option value="DESC" th:selected="${order == 'DESC'}">최신 순</option>
                    <option value="ASC" th:selected="${order == 'ASC'}">오래된 순</option>
                </select>
                <input type="text" id="search" name="keyword" placeholder="검색" th:value="${keyword}">
            </div>
            <input type="hidden" name="page" th:value="${currentPage}"/>
        </form>
        <button id="write-diary-button">일기 작성</button>
    </div>
    <div class="firstPage-container">
        <a th:href="@{/diary/list(page=0, order=${order}, keyword=${keyword})}" class="firstPage">첫 페이지로</a>
    </div>
    <div class="diary-list">
        <div th:each="diary : ${diaries}" class="diary-box">
            <h2 th:text="${diary.diaryTitle}">제목</h2>
            <p th:text="${diary.diaryContent}">내용</p>
            <span class="diary-date" th:text="${#temporals.format(diary.diaryDate, 'yyyy-MM-dd HH:mm:ss')}">날짜</span>
        </div>
    </div>

    <div class="pagination" th:if="${totalPages > 1}">
        <a th:classappend="${currentPage == 0} ? 'disabled'" th:href="@{/diary/list(page=${currentPage - 1}, order=${order}, keyword=${keyword})}">&lt;&lt;이전</a>
        <span th:text="' -' + (${currentPage + 1}+'- ')">페이지</span>
        <a th:classappend="${currentPage >= totalPages - 1} ? 'disabled'" th:href="@{/diary/list(page=${currentPage + 1}, order=${order}, keyword=${keyword})}">다음 &gt; &gt;</a>
    </div>
</main>

<footer>
    <span>Contact: </span>
    <a th:href="${user.userLink}" th:text="${user.userLink}">링크</a>
</footer>

<script>
    document.getElementById('logout-button').addEventListener('click', function () {
        window.location.href = '/logout';
    });

    document.getElementById('write-diary-button').addEventListener('click', function () {
        window.location.href = '/diary/write';
    });
</script>
</body>
</html>
