<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<h2>로그인</h2>
<form action="/login" method="post">
    <div>
        <label for="userId">ID:</label>
        <input type="text" id="userId" name="userId" required>
    </div>
    <div>
        <label for="userPw">PW:</label>
        <input type="password" id="userPw" name="userPw" required>
    </div>
    <div id="loginBtn">
        <button type="submit">로그인</button>
    </div>
</form>
<!-- Error message display -->
<p th:if="${error}" th:text="${error}" style="color: red;"></p>
<div>
    <p>아직 계정이 없으신가요? <a href="/signup">회원가입을 진행해보세요!</a>.</p>
</div>
</body>
</html>
