<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<h2>Welcome, <span th:text="${user.userName}"></span>!</h2>
<p>Your profile details:</p>
<ul>
    <li>User ID: <span th:text="${user.userId}"></span></li>
    <li>Name: <span th:text="${user.userName}"></span></li>
    <li>Nickname: <span th:text="${user.userNickname}"></span></li>
    <li>Link: <span th:text="${user.userLink}"></span></li>
</ul>
</body>
</html>
