<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sim.emoji.mapper.DiaryMapper">

    <resultMap id="DiaryResultMap" type="com.sim.emoji.model.Diary">
        <id property="id" column="id" />
        <result property="diaryWriter" column="diary_writer" />
        <result property="diaryTitle" column="diary_title" />
        <result property="diaryContent" column="diary_content" />
        <result property="diaryImage" column="diary_image" />
        <result property="diaryDate" column="diary_date" />
        <result property="emojiMood" column="emoji_mood" />
        <result property="emojiWeather" column="emoji_weather" />
        <result property="emojiPeople" column="emoji_people" />
    </resultMap>

    <select id="findByDiaryWriter" parameterType="Long" resultMap="DiaryResultMap">
        SELECT * FROM diary WHERE diary_writer = #{diaryWriter}
    </select>

    <insert id="saveDiary">
        INSERT INTO diary (diary_writer, diary_title, diary_content, diary_image, diary_date, emoji_mood, emoji_weather, emoji_people)
        VALUES (#{diaryWriter}, #{diaryTitle}, #{diaryContent}, #{diaryImage}, #{diaryDate}, #{emojiMood}, #{emojiWeather}, #{emojiPeople})
    </insert>

</mapper>
